src/main/mule/routes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routesFlow" doc:id="6b9b0f57-8140-4cfa-996a-d3c825f0cb0e" >
		<ee:transform doc:name="response" doc:id="6cf75ee4-46c2-4964-867f-6544ba4a7406">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    "departureLocationCode": "BEN-SG",
    "arrivalLocationCode": "KLG-MY"
  },
  {
    "departureLocationCode": "BEN-SG",
    "arrivalLocationCode": "BU-MY"
  },
  {
    "departureLocationCode": "BEN-SG",
    "arrivalLocationCode": "TAR-MY"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1c6e0a05-aacf-4651-8da7-832e24ba86b7" />
		<ee:transform doc:name="JSON Response" doc:id="ddc425dd-2761-44fc-9f10-adeecb97eb28" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
